In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns',None)

data = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
sub = pd.read_csv('sample_submission.csv')

In [7]:
data[(data['Airline'] == 'Southwest Airlines Co.') & (data['Carrier_Code(IATA)'] == 'WN')]

'''
캐리어 코드, 항공사가 같을때 캐리어 아이디도 동일
다른 경우도 아마 동일?
'''

,ID,Month,Day_of_Month,Estimated_Departure_Time,Estimated_Arrival_Time,Cancelled,Diverted,Origin_Airport,Origin_Airport_ID,Origin_State,Destination_Airport,Destination_Airport_ID,Destination_State,Distance,Airline,Carrier_Code(IATA),Carrier_ID(DOT),Tail_Number,Delay
0,TRAIN_000000,4,15,NaN,NaN,0,0,OKC,13851,Oklahoma,HOU,12191,Texas,419.0,Southwest Airlines Co.,WN,19393.0,N7858A,NaN
8,TRAIN_000008,6,13,1420.0,1550.0,0,0,BWI,10821,NaN,CLT,11057,North Carolina,361.0,Southwest Airlines Co.,WN,19393.0,N765SW,Not_Delayed
12,TRAIN_000012,1,12,1015.0,1145.0,0,0,CLE,11042,Ohio,DEN,11292,Colorado,1201.0,Southwest Airlines Co.,WN,NaN,N8696E,Not_Delayed
14,TRAIN_000014,12,18,845.0,855.0,0,0,PHX,14107,Arizona,LAS,12889,Nevada,255.0,Southwest Airlines Co.,WN,19393.0,N705SW,NaN
20,TRAIN_000020,7,2,620.0,NaN,0,0,BWI,10821,Maryland,BOS,10721,Massachusetts,369.0,Southwest Airlines Co.,WN,19393.0,N292WN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999946,TRAIN_999946,3,6,1925.0,NaN,0,0,MDW,13232,Illinois,TPA,15304,Florida,997.0,Southwest Airlines Co.,WN,19393.0,N8715Q,NaN
999961,TRAIN_999961,12,31,1255.0,1530.0,0,0,PHL,14100,Pennsylvania,MCO,13204,Florida,861.0,Southwest Airlines Co.,WN,19393.0,N8663A,NaN
999970,TRAIN_999970,10,19,1230.0,NaN,0,0,DCA,11278,Virginia,FLL,11697,Florida,899.0,Southwest Airlines Co.,WN,19393.0,N258WN,NaN
999977,TRAIN_999977,6,22,NaN,2310.0,0,0,BNA,10693,Tennessee,MDW,13232,Illinois,395.0,Southwest Airlines Co.,WN,19393.0,N929WN,NaN
999997,TRAIN_999997,6,28,800.0,1340.0,0,0,OAK,13796,NaN,HOU,12191,Texas,1642.0,Southwest Airlines Co.,WN,19393.0,N230WN,NaN

In [15]:
data[(data['Carrier_ID(DOT)'] == 19393.0) & (data['Carrier_Code(IATA)'] == 'WN')]

data[data['Destination_Airport_ID'] == 12191]

'''
공항ID-공항명-지역 고유
지역에 따라 복수 공항 존재

'''

data['Distance'].isna().sum()  # 0
# 거리는 널값 없는듯?

data[data['Distance'] == 0]

Empty DataFrame
Columns: [ID, Month, Day_of_Month, Estimated_Departure_Time, Estimated_Arrival_Time, Cancelled, Diverted, Origin_Airport, Origin_Airport_ID, Origin_State, Destination_Airport, Destination_Airport_ID, Destination_State, Distance, Airline, Carrier_Code(IATA), Carrier_ID(DOT), Tail_Number, Delay]
Index: []

In [17]:
test[['Estimated_Departure_Time', 'Estimated_Arrival_Time']] = test[['Estimated_Departure_Time', 'Estimated_Arrival_Time']].fillna(0)
test[['Estimated_Departure_Time', 'Estimated_Arrival_Time']] = test[['Estimated_Departure_Time', 'Estimated_Arrival_Time']].astype(int)
test[['Estimated_Departure_Time', 'Estimated_Arrival_Time']] = test[['Estimated_Departure_Time', 'Estimated_Arrival_Time']].astype(str)
test['Estimated_Departure_Time'] = test['Estimated_Departure_Time'].str.pad(width=4, side='left', fillchar='0')
test['Estimated_Arrival_Time'] = test['Estimated_Arrival_Time'].str.pad(width=4, side='left', fillchar='0')
test[((test['Estimated_Departure_Time'] == '0000') & (test['Estimated_Arrival_Time'] == '0000'))]

,ID,Month,Day_of_Month,Estimated_Departure_Time,Estimated_Arrival_Time,Cancelled,Diverted,Origin_Airport,Origin_Airport_ID,Origin_State,Destination_Airport,Destination_Airport_ID,Destination_State,Distance,Airline,Carrier_Code(IATA),Carrier_ID(DOT),Tail_Number
130,TEST_000130,10,16,0000,0000,0,0,JFK,12478,NaN,BNA,10693,Tennessee,765.0,Endeavor Air Inc.,DL,20363.0,N604LR
309,TEST_000309,10,21,0000,0000,0,0,IAH,12266,Texas,ICT,12278,Kansas,542.0,ExpressJet Airlines Inc.,NaN,20366.0,N12540
332,TEST_000332,7,3,0000,0000,0,0,IAH,12266,Texas,LAX,12892,California,1379.0,United Air Lines Inc.,UA,19977.0,N69835
475,TEST_000475,8,7,0000,0000,0,0,HOU,12191,Texas,SNA,14908,California,1357.0,Southwest Airlines Co.,NaN,19393.0,N7716A
609,TEST_000609,5,19,0000,0000,0,0,SYR,15096,New York,EWR,11618,New Jersey,195.0,"Commutair Aka Champlain Enterprises, Inc.",UA,20445.0,N14179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999672,TEST_999672,6,19,0000,0000,0,0,DAL,11259,Texas,MCI,13198,Missouri,461.0,Southwest Airlines Co.,WN,19393.0,N7735A
999687,TEST_999687,4,28,0000,0000,0,0,TUS,15376,Arizona,IAH,12266,Texas,936.0,Mesa Airlines Inc.,UA,20378.0,N89308
999709,TEST_999709,10,20,0000,0000,0,0,BUR,10800,California,OAK,13796,California,325.0,Southwest Airlines Co.,WN,19393.0,N8717M
999740,TEST_999740,9,1,0000,0000,0,0,PVD,14307,Rhode Island,MCO,13204,Florida,1072.0,JetBlue Airways,B6,20409.0,N634JB
999850,TEST_999850,8,17,0000,0000,0,0,ORD,13930,Illinois,SAT,14683,Texas,1041.0,United Air Lines Inc.,UA,19977.0,N428UA

# 데이터 전처리 파이프라인

시간먼저 처리할려했는데 다른 값부터 채우고 해야할듯

In [18]:
from tqdm import tqdm
from datetime import datetime, timedelta
pd.set_option('mode.chained_assignment',  None)
class Processing:
    def __init__(self, x):
        self.x = x.set_index('ID')
        
        # 시간 패딩
        self.x[['Estimated_Departure_Time', 'Estimated_Arrival_Time']] = self.x[['Estimated_Departure_Time', 'Estimated_Arrival_Time']].fillna(0)
        self.x[['Estimated_Departure_Time', 'Estimated_Arrival_Time']] = self.x[['Estimated_Departure_Time', 'Estimated_Arrival_Time']].astype(int)
        self.x[['Estimated_Departure_Time', 'Estimated_Arrival_Time']] = self.x[['Estimated_Departure_Time', 'Estimated_Arrival_Time']].astype(str)
        self.x['Estimated_Departure_Time'] = self.x['Estimated_Departure_Time'].str.pad(width=4, side='left', fillchar='0')
        self.x['Estimated_Arrival_Time'] = self.x['Estimated_Arrival_Time'].str.pad(width=4, side='left', fillchar='0')
        
        # 시간 둘 다 NULL값인 경우 제거함.
        # 제거하면 안될듯. 테스트데이터에도 있어서 어떻게든 해야함
        # 방안 1. 빈도수 높은거나 규칙에 따라 채운다.
        # 방안 2. 그냥 0으로 채우고 돌린다.
        self.x = self.x[~((self.x['Estimated_Departure_Time'] == '0000') & (self.x['Estimated_Arrival_Time'] == '0000'))]

    def diff_time(self, df):
    
        time = timedelta(hours=df['H'], minutes=df['M']) - timedelta(hours=df['h'], minutes=df['m'])
        # print(time)
        time = round(time.total_seconds())
        
        hours = time // 3600
        minutes = (time % 3600) // 60
        
        if hours < 0:
            hours += 24
        
        # if minutes < 0:
        #     minutes += 60
        return hours, minutes 
        
    
    
    def make_noise_zero_data(self):
        # 시간 NULL값 없는 경우만 뽑음
        # nzdata = self.x[~(self.x(['Estimated_Departure_Time'] == '0000') | (self.x['Estimated_Arrival_Time'] == '0000'))]
        nzdata = self.x[~((self.x['Estimated_Departure_Time'] == '0000') | (self.x['Estimated_Arrival_Time'] == '0000'))]
        nzdata = self.make_time_feature(nzdata)
        time = nzdata.apply(self.diff_time, axis=1, result_type='expand')
        nzdata['diff_hour'] = time[0]
        nzdata['diff_minute'] = time[1]
        
        return nzdata
        

    
    def make_time_feature(self, data):
        data['h'] = [data['Estimated_Departure_Time'][i][:2] for i in range(len(data))]
        data['m'] = [data['Estimated_Departure_Time'][i][2:] for i in range(len(data))]
        data['H'] = [data['Estimated_Arrival_Time'][i][:2] for i in range(len(data))]
        data['M'] = [data['Estimated_Arrival_Time'][i][2:] for i in range(len(data))]

        data['h'] = data['h'].astype(int)
        data['m'] = data['m'].astype(int)
        data['H'] = data['H'].astype(int)
        data['M'] = data['M'].astype(int)

        return data
    
    def fill_time(self):
        print('시간 전처리')
        x = self.make_time_feature(self.x)
        check = self.make_noise_zero_data()
        
        # 출발시간
        print('출발시간')
        idx = x[x['Estimated_Departure_Time'] == '0000'].index
        for i in tqdm(idx):
            at = x.loc[i, 'Estimated_Arrival_Time']
            dt = x.loc[i, 'Estimated_Departure_Time']
            oa = x.loc[i, 'Origin_Airport']
            da = x.loc[i, 'Destination_Airport']
            al = x.loc[i, 'Airline']
            
            check_data = check[(check['Origin_Airport'] == oa) & (check['Destination_Airport'] == da) & (check['Airline'] == al)]
            # print(check_data)
            
            # 동일 시간 존재 시 동일한 수로 대체 (복수 존재 시 제일 많은걸로)
            insert_time = check_data.loc[check_data['Estimated_Arrival_Time'] == at, 'Estimated_Departure_Time']
            if len(insert_time) != 0:
                try:
                    x.loc[i, 'Estimated_Departure_Time'] = insert_time.value_counts().index.drop('0000')[0]
                
                except:

                    
                    x.loc[i, 'Estimated_Departure_Time'] = insert_time.value_counts().index[0]
                    
                x.loc[i, 'h'] = int(x.loc[i, 'Estimated_Departure_Time'][:2])
                x.loc[i, 'm'] = int(x.loc[i, 'Estimated_Departure_Time'][2:])
                
            # 가장 빈도수 높은 경과시간으로 계산하여 대체
            elif len(insert_time) == 0:
                

                try:
                    x.loc[i, 'Estimated_Departure_Time'] = check_data['Estimated_Departure_Time'].value_counts().index.drop('0000')[0]
                
                except:
                    print(at, dt, oa, da, al)
                    print(insert_time.value_counts())
                    print(insert_time.value_counts().index[0])
                    x.loc[i, 'Estimated_Departure_Time'] = check_data['Estimated_Departure_Time'].value_counts().index[0]
                    
                x.loc[i, 'H'] = int(x.loc[i, 'Estimated_Departure_Time'][:2])
                x.loc[i, 'M'] = int(x.loc[i, 'Estimated_Departure_Time'][2:])
            
            # 동일 시간 없을 시 평균 경과시간으로 대체
            # elif len(insert_time) == 0:
            #     ht = round(check_data['diff_hour'].mean())
            #     mt = round(check_data['diff_minute'].mean())
                
            #     insert_time =  timedelta(hours=x.loc[i, 'H'], minutes=x.loc[i, 'M']) - timedelta(hours=ht, minutes=mt)
            #     insert_time = round(insert_time.total_seconds())
            #     hours = insert_time // 3600
            #     minutes = (insert_time % 3600) // 60
                
            #     if hours < 0:
            #         hours += 24

            #     x.loc[i, 'h'] = hours
            #     x.loc[i, 'm'] = minutes
                
                
        # 도착시간
        print('도착시간')
        idx = x[x['Estimated_Arrival_Time'] == '0000'].index
        for i in tqdm(idx):
            at = x.loc[i, 'Estimated_Arrival_Time']
            dt = x.loc[i, 'Estimated_Departure_Time']
            oa = x.loc[i, 'Origin_Airport']
            da = x.loc[i, 'Destination_Airport']
            al = x.loc[i, 'Airline']
            
            check_data = check[(check['Origin_Airport'] == oa) & (check['Destination_Airport'] == da) & (check['Airline'] == al)]
            # 동일 시간 존재 시 동일한 수로 대체 (복수 존재 시 제일 많은걸로)
            insert_time = check_data.loc[check_data['Estimated_Departure_Time'] == dt, 'Estimated_Arrival_Time']
            if len(insert_time) != 0:
                try:
                    x.loc[i, 'Estimated_Arrival_Time'] = insert_time.value_counts().index.drop('0000')[0]
                
                except:
                    x.loc[i, 'Estimated_Arrival_Time'] = insert_time.value_counts().index[0]
                    
                x.loc[i, 'H'] = int(x.loc[i, 'Estimated_Arrival_Time'][:2])
                x.loc[i, 'M'] = int(x.loc[i, 'Estimated_Arrival_Time'][2:])
            
            # 가장 빈도수 높은 경과시간으로 계산하여 대체
            elif len(insert_time) == 0:
                try:
                    x.loc[i, 'Estimated_Arrival_Time'] = check_data['Estimated_Arrival_Time'].value_counts().index.drop('0000')[0]
                
                except:
                    x.loc[i, 'Estimated_Arrival_Time'] = check_data['Estimated_Arrival_Time'].value_counts().index[0]
                    
                x.loc[i, 'H'] = int(x.loc[i, 'Estimated_Arrival_Time'][:2])
                x.loc[i, 'M'] = int(x.loc[i, 'Estimated_Arrival_Time'][2:])
            
            
            
            
            # 동일 시간 없을 시 평균 경과시간으로 대체
            # elif len(insert_time) == 0:
            #     ht = round(check_data['diff_hour'].mean())
            #     mt = round(check_data['diff_minute'].mean())
                
            #     # 23 50 / 1 40 -> 1 50
                
            #     insert_time =  timedelta(hours=x.loc[i, 'h'], minutes=x.loc[i, 'm']) + timedelta(hours=ht, minutes=mt)
            #     insert_time = round(insert_time.total_seconds())
                    
            #     hours = insert_time // 3600
            #     minutes = (insert_time % 3600) // 60
                
            #     if hours > 24:
            #         hours -= 24

            #     x.loc[i, 'h'] = hours
            #     x.loc[i, 'm'] = minutes
                
        return x
    
    
    def testset_processing(self):
        pass